UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

NEXT_PUBLIC_SENTRY_DSN=
SENTRY_DSN=
SENTRY_ENVIRONMENT=
NEXT_PUBLIC_SENTRY_ENVIRONMENT=
SENTRY_TRACES_SAMPLE_RATE=0.1
NEXT_PUBLIC_SENTRY_TRACES_SAMPLE_RATE=0.1
SENTRY_PROFILES_SAMPLE_RATE=0
NEXT_PUBLIC_SENTRY_PROFILES_SAMPLE_RATE=0
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=

CHECKLY_API_KEY=
CHECKLY_ACCOUNT_ID=
CHECKLY_PROJECT_NAME=
