[Unit]
Description=Run Morpheus feed pusher (Neo X) every 2 minutes
[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
AccuracySec=10s
[Install]
WantedBy=timers.target
