PHALA_API_TOKEN=your-phala-api-token
PHALA_SHARED_SECRET=your-phala-shared-secret
NEO_RPC_URL=https://api.n3index.dev/testnet
NEO_NETWORK_MAGIC=894710606
NEOX_RPC_URL=https://neoxt4seed1.ngd.network
NEOX_CHAIN_ID=12227332
PHALA_NEO_N3_WIF=
PHALA_NEO_N3_PRIVATE_KEY=
PHALA_NEOX_PRIVATE_KEY=
CONTRACT_SERVICEGATEWAY_HASH=
CONTRACT_PRICEFEED_HASH=
CONTRACT_RANDOMNESSLOG_HASH=
ORACLE_HTTP_ALLOWLIST=https://api.binance.com,https://api.coinbase.com
